In [358]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pp
import sklearn.linear_model

In [359]:
#loading every data and adding crop name and removing seed if there
#1-banana
data=pd.read_excel("data_folder/banana.xls")
data['Crop']='banana'
data_total=pd.concat([data_total,data],axis=0)
data_total=data.copy()
len(data),len(data_total)

(47, 47)

In [360]:
#2-barley
data=pd.read_excel('data_folder/ginger.xls')
#data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='ginger'
data_total=pd.concat([data_total,data],axis=0)
len(data),len(data_total)
#data.head()

(47, 94)

In [361]:
#3-ginger
data=pd.read_excel('data_folder/barley.xls')
data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='barley'
data_total=pd.concat([data_total,data],axis=0)
len(data),len(data_total)

(47, 141)

In [362]:
#4-papaya
data=pd.read_excel('data_folder/papaya.xls')
#data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='papaya'
data_total=pd.concat([data_total,data],axis=0)
len(data),len(data_total)
#data

#len(data_total)

(47, 188)

In [363]:
#5-grape
data=pd.read_excel('data_folder/grape.xls')
#data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='grape'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)

(47, 235)

In [364]:
#6-green pea
data=pd.read_excel('data_folder/green_pea.xls')
#data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='green_pea'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)

(47, 282)

In [365]:
#7-pinnaple
data=pd.read_excel('data_folder/pineapple.xls')
#data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='pineapple'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)
data_total.head()

,Date,Area Harvested - Ha,Yield - Hg/Ha,Production Quantity - tonnes,Crop
0,2007-12-31,622200,349829,21766400,banana
1,2006-12-31,600300,347456,20857800,banana
2,2005-12-31,565100,330948,18701900,banana
3,2004-12-31,535000,305203,16328400,banana
4,2003-12-31,498600,277910,13856600,banana

In [366]:
#8-potato
data=pd.read_excel('data_folder/potato.xls')
data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='potato'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)
data_total.head()

,Date,Area Harvested - Ha,Yield - Hg/Ha,Production Quantity - tonnes,Crop
0,2007-12-31,622200,349829,21766400,banana
1,2006-12-31,600300,347456,20857800,banana
2,2005-12-31,565100,330948,18701900,banana
3,2004-12-31,535000,305203,16328400,banana
4,2003-12-31,498600,277910,13856600,banana

In [367]:
#9-tomato
data=pd.read_excel('data_folder/tomato.xls')
#data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='tomato'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)
data_total.head()

,Date,Area Harvested - Ha,Yield - Hg/Ha,Production Quantity - tonnes,Crop
0,2007-12-31,622200,349829,21766400,banana
1,2006-12-31,600300,347456,20857800,banana
2,2005-12-31,565100,330948,18701900,banana
3,2004-12-31,535000,305203,16328400,banana
4,2003-12-31,498600,277910,13856600,banana

In [368]:
#10-wheat
data=pd.read_excel('data_folder/wheat.xls')
data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='wheat'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)
#data_total.head()

(47, 470)

In [369]:
#11-tea
data=pd.read_excel('data_folder/tea.xls')
#data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='tea'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)
#data_total.head()

(47, 517)

In [370]:
#12-maize
data=pd.read_excel('data_folder/maize.xls')
data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='maize'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)
#data_total.head()

(47, 564)

In [371]:
#13-rice
data=pd.read_excel('data_folder/rice.xls')
data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='rice'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)
#data_total.head()

(47, 611)

In [372]:
#14-sugarcane
data=pd.read_excel('data_folder/sugarcane.xls')
data=data.drop(['Seed - tonnes'],axis=1)
data['Crop']='sugarcane'
len(data)
#data
data_total=pd.concat([data_total,data],axis=0)
data_total
len(data),len(data_total)
#data_total.head()

(47, 658)

In [382]:
#getting again in data_variable
data=data_total.set_index("Date")
data['Crop'].unique().size

14