In [56]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as pp
%matplotlib inline

In [57]:
#loading data
data=pd.read_excel('data_complete_shuffled.xls')
data.head()

,Crop,year,Area Harvested - Ha,Production Quantity - tonnes,Yield - Hg/Ha
0,grape,1993,6000,1200000,18432
1,rice,1978,6300000,73352000,19623
2,barley,1985,70000,104225008,258628
3,tomato,1963,434000,24734608,343061
4,pineapple,1998,12572000,246806,137248

In [58]:
#deviding into train and test
for x in range(len(data.head())):
    if(data.iloc[x]['year']>2000):
        data_test=pd.concat([data_test,data.iloc[x]])
    else:
        data_train=pd.concat([data_train,data.iloc[x]])

In [59]:
data_test

Empty DataFrame
Columns: []
Index: []

In [60]:
#deviding into train and test
data_train=pd.DataFrame()
data_test=pd.DataFrame()
for x in range(len(data.head())):
    if(data.iloc[x]['year']>2000):
        data_test+=data.iloc[x]
    else:
        data_train+=data.iloc[x]

In [61]:
data_train

Empty DataFrame
Columns: []
Index: []